.ContactForm #formError {
  font-size: 0.8em;
  border-radius: 2px;
  color: white;
  padding: 3px;
  margin: 3px;
  background-color: red; }

.ContactForm .has-error {
  border-color: red !important;
  border-width: 2px !important;
  border-style: dashed !important; }

.ContactForm input, .ContactForm textarea {
  outline: none;
  width: 100%; }

.ContactForm label {
  font-weight: bold; }

.ContactForm input {
  border-width: 0 0 1px 0;
  border-color: black; }
  .ContactForm input:focus {
    border-width: 0 0 2px 0;
    border-color: #397071; }

.ContactForm textarea, .ContactForm input.subject {
  border-width: 1px;
  border-color: black; }
  .ContactForm textarea:focus, .ContactForm input.subject:focus {
    border-width: 2px;
    border-color: #397071; }

.ContactForm .thankyou {
  font-weight: 400;
  font-family: 'Gloria Hallelujah', cursive; }
