.Credentials .summary {
  border: solid #930717;
  border-width: 0.125em 0 0.125em 0; }
  .Credentials .summary p a {
    text-decoration: underline dotted; }
    .Credentials .summary p a.gtb:hover {
      color: #E54A1C; }
    .Credentials .summary p a.cu:hover {
      color: green; }
  .Credentials .summary img {
    width: 100%;
    height: auto;
    filter: grayscale(100%); }
    .Credentials .summary img:hover {
      animation: getColor 800ms;
      filter: grayscale(0%); }

.Credentials .cv * {
  text-transform: none; }
  .Credentials .cv * .text1 {
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px; }
  .Credentials .cv * .text2 {
    font-weight: 400; }
  .Credentials .cv * .text3 {
    color: #252525;
    font-weight: 300; }

.Credentials .toggleSummary {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8rem;
  position: absolute;
  top: 100%;
  left: 1em;
  z-index: 5000;
  padding: 0.5em 0.5em;
  text-align: center;
  vertical-align: middle;
  border-radius: 0 0 25% 25%;
  border-color: #930717; }
  .Credentials .toggleSummary:hover {
    color: #397071;
    font-weight: 500; }

.Credentials > .contact {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken; }

@keyframes getColor {
  from {
    filter: grayscale(100%); }
  to {
    filter: grayscale(0%); } }
