$color1: #C4908F;
$color2: #397071;
$color1a: #930717;
$color2a: #397071;

.Credentials{
    .summary{
        border: solid $color1a;
        border-width: 0.125em 0 0.125em 0;
        p a{
            text-decoration: underline dotted;
            &.gtb:hover{
                color: #E54A1C;
            }
            &.cu:hover{
                color: green;
            }
        }
        img{
            width: 100%;
            height: auto;
            filter: grayscale(100%);
            &:hover {
                animation: getColor 800ms;
                filter: grayscale(0%);
            }
        }
    }

    .cv *{
        text-transform: none;
        .text1{
            color: black;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 1px;
        }
        .text2{
            font-weight: 400;
        }
        .text3{
            color: rgb(37, 37, 37);
            font-weight: 300;
        }
    }

    .toggleSummary {
        // display: none;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.8rem;
        position: absolute;
        top: 100%;
        left: 1em;
        z-index: 5000;
        padding: 0.5em 0.5em;
        text-align: center;
        vertical-align: middle;
        border-radius: 0 0 25% 25%;
        border-color: $color1a;
        &:hover{
            color: $color2a;
            font-weight: 500;
        }
    }

    &>.contact {
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
    }
}

@keyframes getColor {
    from {
        filter: grayscale(100%);
    }
  
    to {
        filter: grayscale(0%);
    }
  }